* {
    font-family: Futura;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #fae588;
}

.description {
    font-size: 18px;
    background: #fae588;
    padding: 6%;
}

.image {
    width: 30%;
    height: 30%;
}
.row {
    display: flex;
    flex-direction: inherit;
    justify-content: space-around;
}

.row > .description {
    color: #900c5f;
    font-weight: bold;
}
.th,{
    border: 1px solid black;
    border-radius: 10px;
}

